/* Background */
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom, #001f35, #01314a, #024a5d);
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

/* Main container */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Login Card */
.login-card {
    background: rgba(0, 15, 25, 0.6);
    padding: 40px;
    width: 380px;
    border-radius: 18px;
    box-shadow: 0px 0px 35px rgba(45, 190, 255, 0.2);
    backdrop-filter: blur(12px);
    text-align: center;
}

/* Logo */
.logo img {
    width: 85px;
    margin-bottom: 5px;
}

.logo h1 {
    margin: 0;
    font-size: 26px;
    letter-spacing: 1px;
    color: #d7f3ff;
}

.booking-text {
    color: #9acbe3;
    font-size: 11px;
    letter-spacing: 2px;
}

/* Titles */
.title {
    margin-top: 20px;
    color: white;
    font-size: 22px;
}

.subtitle {
    color: #a9c9d9;
    font-size: 13px;
    margin-bottom: 25px;
}

/* Input boxes */
.input-group {
    text-align: left;
    margin-bottom: 16px;
}

.input-group label {
    color: #bcd9e4;
    font-size: 13px;
}

.input-group input {
    width: 100%;
    padding: 10px 12px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    background: rgba(255,255,255,0.08);
    color: white;
    font-size: 14px;
}

.input-group input::placeholder {
    color: #9abdcf;
}

.password-row {
    display: flex;
    align-items: center;
    background: rgba(255,255,255,0.08);
    border-radius: 10px;
}

.password-row input {
    border: none;
    background: none;
    flex: 1;
}

.eye-icon {
    padding: 10px;
    cursor: pointer;
    color: #9abdcf;
}

/* Forgot password */
.forgot {
    color: #7ab8ff;
    font-size: 12px;
    display: block;
    text-align: right;
    margin-bottom: 15px;
}

/* Login Button */
.login-btn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #7dd4ff, #b8ecff);
    border: none;
    border-radius: 12px;
    color: #00344d;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0px 0px 12px rgba(90, 210, 255, 0.4);
    margin-bottom: 20px;
}

/* Demo Credentials Box */
.demo-box {
    background: rgba(255,255,255,0.07);
    padding: 12px;
    border-radius: 10px;
    margin-top: 10px;
}

.demo-box h4 {
    color: white;
    margin: 0 0 10px 0;
}

.demo-box p {
    color: #bcd9e4;
    margin: 3px 0;
}

/* Footer */
footer {
    margin-top: 25px;
    color: #8bb2c4;
    font-size: 11px;
}
